[submodule "submodule/nerd-fonts"]
	path = submodule/nerd-fonts
	url = https://github.com/goddaneel/nerd-fonts.git
[submodule "submodule/LxgwWenKai"]
	path = submodule/LxgwWenKai
	url = https://github.com/goddaneel/LxgwWenKai.git
